.List {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Button {
  background: none;

  border: none;
}

.Button svg {
  filter: invert(1);

  width: 26px;
  height: 26px;
}

.Checkbox {
  width: 25px;
  height: 25px;

  background: none;

  border: 1px solid #fff;
  border-radius: 4px;

  cursor: pointer;

  display: grid;
  place-items: center;
}

.Checkbox svg {
  stroke: #aaa;
}

.List h4,
.List .Checkbox {
  transition: all 0.3s linear;
}

.List.IsChecked {
  animation: backgroundAnimation 0.3s forwards;
}

.List.IsChecked h4 {
  color: #aaa;
  text-decoration: line-through;
}

.List.IsChecked .Checkbox {
  border-color: #aaa;
}

.List.IsChecked .Checkbox svg {
  stroke: #aaa;
}

@keyframes backgroundAnimation {
  0% {
    background: linear-gradient(
      85deg,
      #31313120,
      transparent,
      transparent,
      transparent,
      transparent
    );
  }
  25% {
    background: linear-gradient(
      85deg,
      #31313120,
      #31313120,
      transparent,
      transparent,
      transparent
    );
  }

  50% {
    background: linear-gradient(
      85deg,
      #31313120,
      #31313120,
      #31313120,
      transparent,
      transparent
    );
  }

  75% {
    background: linear-gradient(
      85deg,
      #31313120,
      #31313120,
      #31313120,
      #31313120,
      transparent
    );
  }

  100% {
    background: linear-gradient(
      85deg,
      #31313120,
      #31313120,
      #31313120,
      #31313120,
      #31313120
    );
  }
}
