.Button {
  border: none;
}

.Button svg {
  filter: invert(1);
}

.Checkbox {
  border: 1px solid var(--white);
  border-radius: 4px;
}

.Checkbox svg {
  stroke: #aaa;
}

.List h4,
.List .Checkbox {
  transition: all 0.3s linear;
}

.TextIsChecked {
  color: #aaa;
  text-decoration: line-through;
}

.IsChecked .Checkbox {
  border-color: #aaa;
}

.IsChecked .Checkbox svg {
  stroke: #aaa;
}
